<h1>Edit Event post</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.event_post_path(@conn, :update, @event_post)) %>

<span><%= link "Back", to: Routes.event_post_path(@conn, :index) %></span>
