<p>
  <span><%= link "Edit", to: Routes.event_post_path(@conn, :edit, @event_post) %></span>
  <span><%= link "Back", to: Routes.event_post_path(@conn, :index) %></span>
</p>

<h1>Show Event Post #<%= @event_post.id %></h1>

<div>
  <%= @event_post.name %>
</div>

<div>
  <%= @event_post.desc %>
</div>
